body{
    background-color: black;
}
img{
    border: 5px solid white;
    width: 100%;
}
h1{
    font-size: 2rem;
}

div{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;;

}